In [1]:
import pandas as pd
import numpy as np
import streamlit as st
import altair as alt
from datetime import datetime as dt

In [2]:
file = 'Equipment_and_Metrology_Database.xlsx'
excel = pd.read_excel(file,index_col=False)
temp = pd.DataFrame(excel)
temp.head()

,ID #,Location,Type,Brand / Component,Model #,Serial #,Description,Specifications,Cal_Date,Cal_Due_Date,Qualification\n Frequency,OQ/PQ PM SOP,PM Date,PM Date Next,Comment,Owner,Column2
0,50PROBE01,QC Lab,Thermometer,Traceable,651,210152050,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16 00:00:00,2024-11-30 00:00:00,Annual,NaN,NaN,NaN,NaN,Andy,NaN
1,50PROBE02,QC Lab,Thermometer,Traceable,651,210151995,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16 00:00:00,2024-11-30 00:00:00,Annual,NaN,NaN,NaN,NaN,Andy,NaN
2,50PROBE03,QC Lab,Thermometer,Traceable,651,210152045,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16 00:00:00,2024-11-30 00:00:00,Annual,NaN,NaN,NaN,NaN,Andy,NaN
3,50PROBE04,QC Lab,Thermometer,Traceable,651,210152019,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16 00:00:00,2024-11-30 00:00:00,Annual,NaN,NaN,NaN,NaN,Andy,NaN
4,50PROBE05,QC Lab,Thermometer,Traceable,651,210152052,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16 00:00:00,2024-11-30 00:00:00,Annual,NaN,NaN,NaN,NaN,Andy,NaN

In [3]:
temp.columns

Index(['ID #', 'Location', 'Type', 'Brand / Component', 'Model #', 'Serial #',
       'Description', 'Specifications', 'Cal_Date', 'Cal_Due_Date',
       'Qualification\n Frequency', 'OQ/PQ PM SOP', 'PM Date', 'PM Date Next',
       'Comment', 'Owner', 'Column2'],
      dtype='object')

In [4]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID #                      206 non-null    object
 1   Location                  215 non-null    object
 2   Type                      215 non-null    object
 3   Brand / Component         211 non-null    object
 4   Model #                   205 non-null    object
 5   Serial #                  212 non-null    object
 6   Description               213 non-null    object
 7   Specifications            13 non-null     object
 8   Cal_Date                  162 non-null    object
 9   Cal_Due_Date              168 non-null    object
 10  Qualification
 Frequency  175 non-null    object
 11  OQ/PQ PM SOP              130 non-null    object
 12  PM Date                   1 non-null      object
 13  PM Date Next              0 non-null      float64
 14  Comment                   0 non-null      float64
 15  Owner                     118 non-null    object
 16  Column2                   0 non-null      float64
dtypes: float64(3), object(14)
memory usage: 28.8+ KB

In [5]:
tests = temp['Cal_Date'].astype(str)
dates = []
for test in tests:
    dates.append(test[:-9])
temp['Cal_Date']=dates
temp.head()

,ID #,Location,Type,Brand / Component,Model #,Serial #,Description,Specifications,Cal_Date,Cal_Due_Date,Qualification\n Frequency,OQ/PQ PM SOP,PM Date,PM Date Next,Comment,Owner,Column2
0,50PROBE01,QC Lab,Thermometer,Traceable,651,210152050,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16,2024-11-30 00:00:00,Annual,NaN,NaN,NaN,NaN,Andy,NaN
1,50PROBE02,QC Lab,Thermometer,Traceable,651,210151995,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16,2024-11-30 00:00:00,Annual,NaN,NaN,NaN,NaN,Andy,NaN
2,50PROBE03,QC Lab,Thermometer,Traceable,651,210152045,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16,2024-11-30 00:00:00,Annual,NaN,NaN,NaN,NaN,Andy,NaN
3,50PROBE04,QC Lab,Thermometer,Traceable,651,210152019,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16,2024-11-30 00:00:00,Annual,NaN,NaN,NaN,NaN,Andy,NaN
4,50PROBE05,QC Lab,Thermometer,Traceable,651,210152052,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16,2024-11-30 00:00:00,Annual,NaN,NaN,NaN,NaN,Andy,NaN

In [6]:
date = temp['Cal_Due_Date'].astype(str)
why = []
for date in date:
    why.append(date[:-9])
temp['Cal_Due_Date'] = why
temp.head()

,ID #,Location,Type,Brand / Component,Model #,Serial #,Description,Specifications,Cal_Date,Cal_Due_Date,Qualification\n Frequency,OQ/PQ PM SOP,PM Date,PM Date Next,Comment,Owner,Column2
0,50PROBE01,QC Lab,Thermometer,Traceable,651,210152050,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16,2024-11-30,Annual,NaN,NaN,NaN,NaN,Andy,NaN
1,50PROBE02,QC Lab,Thermometer,Traceable,651,210151995,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16,2024-11-30,Annual,NaN,NaN,NaN,NaN,Andy,NaN
2,50PROBE03,QC Lab,Thermometer,Traceable,651,210152045,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16,2024-11-30,Annual,NaN,NaN,NaN,NaN,Andy,NaN
3,50PROBE04,QC Lab,Thermometer,Traceable,651,210152019,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16,2024-11-30,Annual,NaN,NaN,NaN,NaN,Andy,NaN
4,50PROBE05,QC Lab,Thermometer,Traceable,651,210152052,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16,2024-11-30,Annual,NaN,NaN,NaN,NaN,Andy,NaN

In [7]:
temp.columns

Index(['ID #', 'Location', 'Type', 'Brand / Component', 'Model #', 'Serial #',
       'Description', 'Specifications', 'Cal_Date', 'Cal_Due_Date',
       'Qualification\n Frequency', 'OQ/PQ PM SOP', 'PM Date', 'PM Date Next',
       'Comment', 'Owner', 'Column2'],
      dtype='object')

In [8]:
temp = temp.loc[:,['Location', 'Type', 'Serial #', 'Description', 'Cal_Date', 'Cal_Due_Date',
                   'Owner', 'Comment']]
temp.head()

,Location,Type,Serial #,Description,Cal_Date,Cal_Due_Date,Owner,Comment
0,QC Lab,Thermometer,210152050,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,NaN
1,QC Lab,Thermometer,210151995,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,NaN
2,QC Lab,Thermometer,210152045,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,NaN
3,QC Lab,Thermometer,210152019,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,NaN
4,QC Lab,Thermometer,210152052,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,NaN

In [9]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Location      215 non-null    object
 1   Type          215 non-null    object
 2   Serial #      212 non-null    object
 3   Description   213 non-null    object
 4   Cal_Date      216 non-null    object
 5   Cal_Due_Date  216 non-null    object
 6   Owner         118 non-null    object
 7   Comment       0 non-null      float64
dtypes: float64(1), object(7)
memory usage: 13.6+ KB

In [12]:
temp['Cal_Date'] = pd.to_datetime(temp['Cal_Date'], format='yearfirst')
temp['Cal_Due_Date'] = pd.to_datetime(temp['Cal_Due_Date'], format='yearfirst')
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Location      215 non-null    object
 1   Type          215 non-null    object
 2   Serial #      212 non-null    object
 3   Description   213 non-null    object
 4   Cal_Date      159 non-null    datetime64[ns]
 5   Cal_Due_Date  166 non-null    datetime64[ns]
 6   Owner         118 non-null    object
 7   Comment       0 non-null      float64
dtypes: datetime64[ns](2), float64(1), object(5)
memory usage: 13.6+ KB

In [13]:
temp.head

<bound method NDFrame.head of     Location         Type     Serial #  \
0     QC Lab  Thermometer    210152050
1     QC Lab  Thermometer    210151995
2     QC Lab  Thermometer    210152045
3     QC Lab  Thermometer    210152019
4     QC Lab  Thermometer    210152052
..       ...          ...          ...
211    RM145  Air Sampler   17-D-11859
212    RM145  Air Sampler  03-CM-02243
213    RM145  Air Sampler   02-C-02036
214   RM 138    Voltmeter     0621U-A2
215   QC Lab          LAF    070570816

                                Description   Cal_Date Cal_Due_Date     Owner  \
0    Ultra-Low Temperature WIFI Data Logger 2023-11-16   2024-11-30      Andy
1    Ultra-Low Temperature WIFI Data Logger 2023-11-16   2024-11-30      Andy
2    Ultra-Low Temperature WIFI Data Logger 2023-11-16   2024-11-30      Andy
3    Ultra-Low Temperature WIFI Data Logger 2023-11-16   2024-11-30      Andy
4    Ultra-Low Temperature WIFI Data Logger 2023-11-16   2024-11-30      Andy
..                                      ...        ...          ...       ...
211                     100 LPM Air Sampler 2023-07-13   2024-07-13        aK
212                     100 LPM Air Sampler 2023-10-23   2024-10-23        AK
213                     100 LPM Air Sampler 2023-11-15   2024-11-15        AK
214                               Voltmeter        NaT          NaT  David R.
215                Laminar Air Flow Cabinet        NaT          NaT       NaN

     Comment
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
..       ...
211      NaN
212      NaN
213      NaN
214      NaN
215      NaN

[216 rows x 8 columns]>

In [14]:
temp['MonthNumber'] = temp['Cal_Due_Date'].dt.month
temp.head

<bound method NDFrame.head of     Location         Type     Serial #  \
0     QC Lab  Thermometer    210152050
1     QC Lab  Thermometer    210151995
2     QC Lab  Thermometer    210152045
3     QC Lab  Thermometer    210152019
4     QC Lab  Thermometer    210152052
..       ...          ...          ...
211    RM145  Air Sampler   17-D-11859
212    RM145  Air Sampler  03-CM-02243
213    RM145  Air Sampler   02-C-02036
214   RM 138    Voltmeter     0621U-A2
215   QC Lab          LAF    070570816

                                Description   Cal_Date Cal_Due_Date     Owner  \
0    Ultra-Low Temperature WIFI Data Logger 2023-11-16   2024-11-30      Andy
1    Ultra-Low Temperature WIFI Data Logger 2023-11-16   2024-11-30      Andy
2    Ultra-Low Temperature WIFI Data Logger 2023-11-16   2024-11-30      Andy
3    Ultra-Low Temperature WIFI Data Logger 2023-11-16   2024-11-30      Andy
4    Ultra-Low Temperature WIFI Data Logger 2023-11-16   2024-11-30      Andy
..                                      ...        ...          ...       ...
211                     100 LPM Air Sampler 2023-07-13   2024-07-13        aK
212                     100 LPM Air Sampler 2023-10-23   2024-10-23        AK
213                     100 LPM Air Sampler 2023-11-15   2024-11-15        AK
214                               Voltmeter        NaT          NaT  David R.
215                Laminar Air Flow Cabinet        NaT          NaT       NaN

     Comment  MonthNumber
0        NaN         11.0
1        NaN         11.0
2        NaN         11.0
3        NaN         11.0
4        NaN         11.0
..       ...          ...
211      NaN          7.0
212      NaN         10.0
213      NaN         11.0
214      NaN          NaN
215      NaN          NaN

[216 rows x 9 columns]>

In [15]:
temp.to_csv('Equipment_and_Metrology_Database.csv', index=False)