In [2]:
import pandas as pd
import numpy as np
import streamlit as st
import altair as alt
from datetime import datetime as dt

In [5]:
file = 'Equipment_and_Metrology_Database.csv'
excel = pd.read_csv(file,index_col=False)
temp = pd.DataFrame(excel)
temp.head()

,ID_No,Location,Type,Serial_No,Description,Cal_Date,Cal_Due_Date,Owner,Comment
0,50PROBE01,QC Lab,Thermometer,210152050,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,NaN
1,50PROBE02,QC Lab,Thermometer,210151995,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,NaN
2,50PROBE03,QC Lab,Thermometer,210152045,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,NaN
3,50PROBE04,QC Lab,Thermometer,210152019,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,NaN
4,50PROBE05,QC Lab,Thermometer,210152052,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,NaN

In [6]:
temp.columns

Index(['ID_No', 'Location', 'Type', 'Serial_No', 'Description', 'Cal_Date',
       'Cal_Due_Date', 'Owner', 'Comment'],
      dtype='object')

In [7]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID_No         206 non-null    object
 1   Location      215 non-null    object
 2   Type          215 non-null    object
 3   Serial_No     212 non-null    object
 4   Description   213 non-null    object
 5   Cal_Date      159 non-null    object
 6   Cal_Due_Date  166 non-null    object
 7   Owner         118 non-null    object
 8   Comment       0 non-null      float64
dtypes: float64(1), object(8)
memory usage: 15.3+ KB

In [12]:
temp = temp.astype('str')
temp.head()

,ID_No,Location,Type,Serial_No,Description,Cal_Date,Cal_Due_Date,Owner,Comment
0,50PROBE01,QC Lab,Thermometer,210152050,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,nan
1,50PROBE02,QC Lab,Thermometer,210151995,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,nan
2,50PROBE03,QC Lab,Thermometer,210152045,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,nan
3,50PROBE04,QC Lab,Thermometer,210152019,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,nan
4,50PROBE05,QC Lab,Thermometer,210152052,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,nan

In [13]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID_No         216 non-null    object
 1   Location      216 non-null    object
 2   Type          216 non-null    object
 3   Serial_No     216 non-null    object
 4   Description   216 non-null    object
 5   Cal_Date      216 non-null    object
 6   Cal_Due_Date  216 non-null    object
 7   Owner         216 non-null    object
 8   Comment       216 non-null    object
dtypes: object(9)
memory usage: 15.3+ KB

In [14]:
temp.to_csv('Equipment_and_Metrology_Database.csv', index=False)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7152 entries, 0 to 7151
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   First Name                 7151 non-null   object
 1   Last Name                  7151 non-null   object
 2   Qualification_Description  458 non-null    object
 3   Qualification_Option       612 non-null    object
 4   Qualification_Date         584 non-null    object
 5   SOP Number                 6491 non-null   object
 6   SOP Title                  6775 non-null   object
 7   Revision                   6482 non-null   object
 8   Read and Understood Date   6123 non-null   object
 9   Date Entered               6736 non-null   object
 10  Entry Intial:              4512 non-null   object
dtypes: object(11)
memory usage: 614.8+ KB