In [1]:
import pandas as pd
import numpy as np
import streamlit as st
import altair as alt
from datetime import datetime as dt

In [2]:
file = 'Equipment_and_Metrology_Database.csv'
excel = pd.read_csv(file,index_col=False)
temp = pd.DataFrame(excel)
temp.head()

,ID_No,Location,Type,Serial_No,Description,Cal_Date,Cal_Due_Date,Owner,Comment
0,50PROBE01,QC Lab,Thermometer,210152050,Ultra-Low Temperature WIFI Data Logger,45246.0,45626.0,Andy,NaN
1,50PROBE02,QC Lab,Thermometer,210151995,Ultra-Low Temperature WIFI Data Logger,45246.0,45626.0,Andy,NaN
2,50PROBE03,QC Lab,Thermometer,210152045,Ultra-Low Temperature WIFI Data Logger,45246.0,45626.0,Andy,NaN
3,50PROBE04,QC Lab,Thermometer,210152019,Ultra-Low Temperature WIFI Data Logger,45246.0,45626.0,Andy,NaN
4,50PROBE05,QC Lab,Thermometer,210152052,Ultra-Low Temperature WIFI Data Logger,45246.0,45626.0,Andy,NaN

In [3]:
temp.columns

Index(['ID_No', 'Location', 'Type', 'Serial_No', 'Description', 'Cal_Date',
       'Cal_Due_Date', 'Owner', 'Comment'],
      dtype='object')

In [4]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID_No         206 non-null    object
 1   Location      215 non-null    object
 2   Type          215 non-null    object
 3   Serial_No     212 non-null    object
 4   Description   213 non-null    object
 5   Cal_Date      159 non-null    float64
 6   Cal_Due_Date  166 non-null    float64
 7   Owner         118 non-null    object
 8   Comment       0 non-null      float64
dtypes: float64(3), object(6)
memory usage: 15.3+ KB

In [ ]:
temp = temp.astype(str)
temp.head()

In [ ]:
temp.info()

In [ ]:
file = '