In [1]:
import pandas as pd
import numpy as np
import streamlit as st
import altair as alt
from datetime import datetime as dt

In [4]:
file = 'Equipment_and_Metrology_Database.xlsx'
excel = pd.read_excel(file,index_col=False)
temp = pd.DataFrame(excel)
temp.head()

,Location,Type,Serial #,Description,Cal. Date,Cal. due Date,Comment,Owner
0,QC Lab,Thermometer,210152050,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,NaN,Andy
1,QC Lab,Thermometer,210151995,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,NaN,Andy
2,QC Lab,Thermometer,210152045,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,NaN,Andy
3,QC Lab,Thermometer,210152019,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,NaN,Andy
4,QC Lab,Thermometer,210152052,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,NaN,Andy

In [5]:
temp.columns

Index(['Location', 'Type', 'Serial #', 'Description', 'Cal. Date',
       'Cal. due Date', 'Comment', 'Owner'],
      dtype='object')

In [6]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       210 non-null    object
 1   Type           210 non-null    object
 2   Serial #       207 non-null    object
 3   Description    208 non-null    object
 4   Cal. Date      158 non-null    object
 5   Cal. due Date  165 non-null    object
 6   Comment        0 non-null      float64
 7   Owner          118 non-null    object
dtypes: float64(1), object(7)
memory usage: 13.3+ KB

In [7]:
tests = temp['Cal. Date'].astype(str)
dates = []
for test in tests:
    dates.append(test[:-9])
temp['Cal. Date']=dates
temp.head()

,Location,Type,Serial #,Description,Cal. Date,Cal. due Date,Comment,Owner
0,QC Lab,Thermometer,210152050,Ultra-Low Temperature WIFI Data Logger,2,2024-11-30,NaN,Andy
1,QC Lab,Thermometer,210151995,Ultra-Low Temperature WIFI Data Logger,2,2024-11-30,NaN,Andy
2,QC Lab,Thermometer,210152045,Ultra-Low Temperature WIFI Data Logger,2,2024-11-30,NaN,Andy
3,QC Lab,Thermometer,210152019,Ultra-Low Temperature WIFI Data Logger,2,2024-11-30,NaN,Andy
4,QC Lab,Thermometer,210152052,Ultra-Low Temperature WIFI Data Logger,2,2024-11-30,NaN,Andy

In [ ]:
date = temp['Cal. due Date'].astype(str)
why = []
for date in date:
    why.append(date[:-9])
temp['Cal. due Date'] = why
temp.head()

In [ ]:
temp.columns

In [ ]:
temp = temp.loc[:,['Location', 'Type', 'Serial #', 'Description', 'Cal. Date', 'Cal. due Date',
                   'Comment', 'Owner']]
temp.head()

In [ ]:
temp.head()

In [8]:
temp['Cal. Date'].date_range(start='2024-11-01', end='2024-11-30', freq='ME')
temp.head

AttributeError: 'Series' object has no attribute 'date_range'

In [ ]:
temp.to_excel(file, index=False)