In [1]:
import pandas as pd
import numpy as np
import streamlit as st
import altair as alt
from datetime import datetime as dt

In [2]:
file = 'Equipment_and_Metrology_Database.xlsx'
excel = pd.read_excel(file,index_col=False)
temp = pd.DataFrame(excel)
temp.head()

,ID #,Location,Type,Brand / Component,Model #,Serial #,Description,Specifications,Cal_Date,Cal_Due_Date,Qualification\n Frequency,OQ/PQ PM SOP,PM Date,PM Date Next,Comment,Owner,Column2
0,50PROBE01,QC Lab,Thermometer,Traceable,651,210152050,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16 00:00:00,2024-11-30 00:00:00,Annual,NaN,NaN,NaN,NaN,Andy,NaN
1,50PROBE02,QC Lab,Thermometer,Traceable,651,210151995,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16 00:00:00,2024-11-30 00:00:00,Annual,NaN,NaN,NaN,NaN,Andy,NaN
2,50PROBE03,QC Lab,Thermometer,Traceable,651,210152045,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16 00:00:00,2024-11-30 00:00:00,Annual,NaN,NaN,NaN,NaN,Andy,NaN
3,50PROBE04,QC Lab,Thermometer,Traceable,651,210152019,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16 00:00:00,2024-11-30 00:00:00,Annual,NaN,NaN,NaN,NaN,Andy,NaN
4,50PROBE05,QC Lab,Thermometer,Traceable,651,210152052,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16 00:00:00,2024-11-30 00:00:00,Annual,NaN,NaN,NaN,NaN,Andy,NaN

In [3]:
temp.columns

Index(['ID #', 'Location', 'Type', 'Brand / Component', 'Model #', 'Serial #',
       'Description', 'Specifications', 'Cal_Date', 'Cal_Due_Date',
       'Qualification\n Frequency', 'OQ/PQ PM SOP', 'PM Date', 'PM Date Next',
       'Comment', 'Owner', 'Column2'],
      dtype='object')

In [4]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID #                      206 non-null    object
 1   Location                  215 non-null    object
 2   Type                      215 non-null    object
 3   Brand / Component         211 non-null    object
 4   Model #                   205 non-null    object
 5   Serial #                  212 non-null    object
 6   Description               213 non-null    object
 7   Specifications            13 non-null     object
 8   Cal_Date                  162 non-null    object
 9   Cal_Due_Date              168 non-null    object
 10  Qualification
 Frequency  175 non-null    object
 11  OQ/PQ PM SOP              130 non-null    object
 12  PM Date                   1 non-null      object
 13  PM Date Next              0 non-null      float64
 14  Comment                   0 non-null      float64
 15  Owner                     118 non-null    object
 16  Column2                   0 non-null      float64
dtypes: float64(3), object(14)
memory usage: 28.8+ KB

In [5]:
tests = temp['Cal_Date'].astype(str)
dates = []
for test in tests:
    dates.append(test[:-9])
temp['Cal_Date']=dates
temp.head()

,ID #,Location,Type,Brand / Component,Model #,Serial #,Description,Specifications,Cal_Date,Cal_Due_Date,Qualification\n Frequency,OQ/PQ PM SOP,PM Date,PM Date Next,Comment,Owner,Column2
0,50PROBE01,QC Lab,Thermometer,Traceable,651,210152050,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16,2024-11-30 00:00:00,Annual,NaN,NaN,NaN,NaN,Andy,NaN
1,50PROBE02,QC Lab,Thermometer,Traceable,651,210151995,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16,2024-11-30 00:00:00,Annual,NaN,NaN,NaN,NaN,Andy,NaN
2,50PROBE03,QC Lab,Thermometer,Traceable,651,210152045,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16,2024-11-30 00:00:00,Annual,NaN,NaN,NaN,NaN,Andy,NaN
3,50PROBE04,QC Lab,Thermometer,Traceable,651,210152019,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16,2024-11-30 00:00:00,Annual,NaN,NaN,NaN,NaN,Andy,NaN
4,50PROBE05,QC Lab,Thermometer,Traceable,651,210152052,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16,2024-11-30 00:00:00,Annual,NaN,NaN,NaN,NaN,Andy,NaN

In [6]:
date = temp['Cal_Due_Date'].astype(str)
why = []
for date in date:
    why.append(date[:-9])
temp['Cal_Due_Date'] = why
temp.head()

,ID #,Location,Type,Brand / Component,Model #,Serial #,Description,Specifications,Cal_Date,Cal_Due_Date,Qualification\n Frequency,OQ/PQ PM SOP,PM Date,PM Date Next,Comment,Owner,Column2
0,50PROBE01,QC Lab,Thermometer,Traceable,651,210152050,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16,2024-11-30,Annual,NaN,NaN,NaN,NaN,Andy,NaN
1,50PROBE02,QC Lab,Thermometer,Traceable,651,210151995,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16,2024-11-30,Annual,NaN,NaN,NaN,NaN,Andy,NaN
2,50PROBE03,QC Lab,Thermometer,Traceable,651,210152045,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16,2024-11-30,Annual,NaN,NaN,NaN,NaN,Andy,NaN
3,50PROBE04,QC Lab,Thermometer,Traceable,651,210152019,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16,2024-11-30,Annual,NaN,NaN,NaN,NaN,Andy,NaN
4,50PROBE05,QC Lab,Thermometer,Traceable,651,210152052,Ultra-Low Temperature WIFI Data Logger,NaN,2023-11-16,2024-11-30,Annual,NaN,NaN,NaN,NaN,Andy,NaN

In [ ]:
temp.columns

In [7]:
temp = temp.loc[:,['Location', 'Type', 'Serial #', 'Description', 'Cal_Date', 'Cal_Due_Date',
                   'Owner', 'Comment']]
temp.head()

,Location,Type,Serial #,Description,Cal_Date,Cal_Due_Date,Owner,Comment
0,QC Lab,Thermometer,210152050,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,NaN
1,QC Lab,Thermometer,210151995,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,NaN
2,QC Lab,Thermometer,210152045,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,NaN
3,QC Lab,Thermometer,210152019,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,NaN
4,QC Lab,Thermometer,210152052,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,NaN

In [8]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Location      215 non-null    object
 1   Type          215 non-null    object
 2   Serial #      212 non-null    object
 3   Description   213 non-null    object
 4   Cal_Date      216 non-null    object
 5   Cal_Due_Date  216 non-null    object
 6   Owner         118 non-null    object
 7   Comment       0 non-null      float64
dtypes: float64(1), object(7)
memory usage: 13.6+ KB

In [10]:
temp['Cal_Date'] = pd.to_datetime(temp['Cal_Date'], format='%Y-%m-%d')
temp['Cal_Due_Date'] = pd.to_datetime(temp['Cal_Due_Date'], format='%Y-%m-%d')
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Location      215 non-null    object
 1   Type          215 non-null    object
 2   Serial #      212 non-null    object
 3   Description   213 non-null    object
 4   Cal_Date      159 non-null    datetime64[ns]
 5   Cal_Due_Date  166 non-null    datetime64[ns]
 6   Owner         118 non-null    object
 7   Comment       0 non-null      float64
dtypes: datetime64[ns](2), float64(1), object(5)
memory usage: 13.6+ KB

In [11]:
temp.head()

,Location,Type,Serial #,Description,Cal_Date,Cal_Due_Date,Owner,Comment
0,QC Lab,Thermometer,210152050,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,NaN
1,QC Lab,Thermometer,210151995,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,NaN
2,QC Lab,Thermometer,210152045,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,NaN
3,QC Lab,Thermometer,210152019,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,NaN
4,QC Lab,Thermometer,210152052,Ultra-Low Temperature WIFI Data Logger,2023-11-16,2024-11-30,Andy,NaN

In [14]:
beg_date = input('Beggining Date (YYYY-MM-DD): ')

Beggining Date (YYYY-MM-DD):  2024-01-01

In [15]:
end_date = input('Ending Date (YYYY-MM-DD): ')

Ending Date (YYYY-MM-DD):  2024-06-30

In [18]:
filtered_dates = temp.loc[(temp['Cal_Due_Date'] > beg_date) & (temp['Cal_Due_Date'] <= end_date)]
filtered_dates

,Location,Type,Serial #,Description,Cal_Date,Cal_Due_Date,Owner,Comment
22,RM 111,Hygrometer,221624480,TraceableLive WIFI Hygrometer (STB-2),2023-06-30,2024-06-30,NaN,NaN
45,RM 138,Gauge,2003100612,Pressure Gauge (300psi),2023-03-24,2024-03-31,David R.,NaN
48,RM 119,Autoclave,2203267,Tuttnauer 3870 Autoclave,2023-02-21,2024-02-21,Carl P.,NaN
49,RM 138,Gauge,2004280414,Pressure Gauge (30psi),2023-03-24,2024-03-31,David R.,NaN
69,QC Lab,Weight Sorter Tablet/Capsule,PS 596,SADE SP,2023-03-21,2024-03-31,Andy K.,NaN
70,RM 138,Light Meter,200901686,Data Logging Light Meter,2023-06-08,2024-06-08,David R.,NaN
72,RM 138,Weight,B553919852,100mg Weight,2023-06-23,2024-06-23,Neha S.,NaN
74,QC Lab,Weight,B553919851,10mg Weight,2023-06-14,2024-06-30,Andy K.,NaN
141,QC Lab,Pipette,N14192C,Air-Displacement Micropipette (1-100 µL),2023-06-21,2024-06-21,NaN,NaN
142,QC Lab,Pipette,BH63494,Air-Displacement Micropipette (1-100 µL),2023-06-21,2024-06-21,NaN,NaN
143,QC Lab,Pipette,G12113B,Air-Displacement Micropipette (1-200 µL),2023-05-26,2024-05-26,NaN,NaN
144,QC Lab,Pipette,BA57062,Air-Displacement Micropipette (1-200 µL),2023-06-21,2024-06-21,NaN,NaN
146,QC Lab,Pipette,BJ55057,Air-Displacement Micropipette (1-1000 µL),2023-06-21,2024-05-26,NaN,NaN
147,QC Lab,Pipette,C015273607,Air-Displacement Micropipette (20-200 µL),2023-05-26,2024-05-26,NaN,NaN
148,QC Lab,Pipette,C009053078,Air-Displacement Micropipette (100-1000 µL),2023-05-26,2024-05-26,NaN,NaN
149,QC Lab,Pipette,C025588054,Air-Displacement Micropipette (20-300 µL),2023-05-26,2024-05-26,NaN,NaN
152,RM 114,Induction Sealer,C23129-01,Super Seal Jr.,2024-01-23,2024-01-23,AK,NaN
166,Room 111,Chamber,314904-2622,Stability Chamber 30C/70%,2023-04-25,2024-04-30,NaN,NaN
203,RM 114,Timer,221205140,Four Channel Alarm Timer,2022-02-01,2024-02-01,AK,NaN

In [26]:
filtered_dates.to_excel('Equipment_Due_List '+ beg_date+'_'+ end_date +'.xlsx', index=False)